/*
 *
 * Common
 *
 *
*/

* {
  box-sizing: border-box;
}

body {
  font: 14px "Trebuchet MS", Helvetica, sans-serif;
  width: 100%;
  margin: 0;
  padding: 8px;
}

.base-color {
  color: #B37D4E; /* FIELD */
}

.color-theme-1 {
  color: #286DA8; /* SUMMER SKY */
}

.color-theme-2 {
  color: #438496; /* BREEZE */
}

.accent-color-1 {
  color: #CD5360; /* WARM PEACH */
}

.accent-color-2 {
  color: #007849; /* IRISES */
}

main {
  margin: 5px;
  padding-top: 150px;
}

a {
  text-decoration: none;
}

/*
 *
 * Header
 *
 *
*/

.fixed-top {
  position: fixed;
  max-width: 900px;
  background-color: white;
  top: 0;
  padding-top: 24px;
  padding-bottom: 20px;
}

.login-link {
  font-style: italic;
  float: right;
  margin-top: auto;
  margin-right: 5px;
}

.login-options {
  float: right;
}

.banner {
  clear: both;
  height: 100px;
  position: relative;
}

.banner-image {
  height: 100%;
  width: 100%;
  object-fit: fill;
  object-position: bottom;
}

.banner-text {
  font-size: 2em;
  position: absolute;
  margin-left: 0.25em;
  top: 20px;
}

@media screen and (min-width: 500px) {
  .banner-text {
    font-size: 2.75em;
    top: 3px;
  }
}

@media screen and (min-width: 800px) {
  .banner-text {
    font-size: 3.25em;
    top: -8px;
  }
}

/*
 *
 * Flash Message
 *
 *
*/

.flash {
  background: #438496;
  width: 100%;
}

.flash li {
  list-style-type: none;
  text-align: center;
}

/*
 *
 * Home Page
 *
 *
*/

.main-content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.types-dropdown {
  width: 100%;
  padding: 0.5em;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #B37D4E;
  border-radius: 4px;
}

.types-section {
  display: none;
  width: 100%;
}

.tiles-area {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.tile {
  width: 100%;
  border: 1px solid #B37D4E;
  border-radius: 4px;
  margin-bottom: 10px;
}

@media screen and (min-width: 350px) {
  .tile {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 400px) {
  .tile {
    width: 48%;
    margin-left: 5px;
    margin-right: 0;
  }
}

@media screen and (min-width: 500px) {
  .types-section {
    display: block;
    width: 20%;
  }

  .types-dropdown {
    display: none;
  }

  .tiles-area {
    width: 80%;
  }
}

@media screen and (min-width: 650px) {
  .tile {
    width: 32%;
  }
}

.type-link {
  color: black;
  padding-left: 5px;
  font-size: 1.25em;
}

.type-text:hover {
  background-color: #eaeaea;
}

.tile:hover {
  background-color: #eaeaea;
  cursor: pointer;
}

.tile-image {
  width: 80%;
  display: block;
  margin: auto;
}

.tile-name {
  text-align: center;
}

/*
*
* Details Page
*
*
*/

.detail-image-container {
  width: 80%;
  margin: auto;
}

.details-image {
  max-height: 200px;
}

.details-label {
  font-weight: bold;
}

@media screen and (min-width: 500px) {

}

/*
*
* Body styling for responsiveness
*
*
*/
@media screen and (min-width: 900px) {
  body {
    width: 900px;
    margin: auto;
  }
}