{% extends "layout.html" %}

{% block body %}
<main class="main-content">
  <select class="types-dropdown">
    <option value="All" selected>All</option>
    {% for type in types %}
    <option value="{{type.name}}">{{type.name}}</option>
    {% endfor %}
  </select>

  <sidebar class="types-section">
    <a class="type-link" href="#"><div class="type-text">All</div></a>
    {% for type in types %}
    <a class="type-link" href="#"><div class="type-text">{{type.name}}</div></a>
    {% endfor %}
  </sidebar>

  <section class="tiles-area">
    {% for pokemon in pokemon_list %}
    <div class="tile">
      <img class="tile-image" src="{{pokemon.image}}" />
      <h3 class="tile-name">{{pokemon.name}}</h3>
    </div>
    {% endfor %}
  </section>
</main>
{% endblock %}