{% extends "layout.html" %}

{% block body %}
<main class="main-content">

  <!--Flash Message-->
  <div class="flash">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li><strong>{{message}}</strong></li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
  </div>

  <!--Type selection dropdown box for small viewports-->
  <select class="types-dropdown">
    {% if selected_type == 'All' %}
    <option value="All" selected>All</option>
    {% else %}
    <option value="All">All</option>
    {% endif %}

    {% for type in types %}
    {% if selected_type == type.name %}
    <option value="{{type.name}}" selected>{{type.name}}</option>
    {% else %}
    <option value="{{type.name}}">{{type.name}}</option>
    {% endif %}
    {% endfor %}
  </select>

  <!--Type selection at the sidebar for wider viewports-->
  <sidebar class="types-section">
    <a class="type-link" href="{{url_for('showHome')}}">
      <div class="type-text">
        All
      </div>
    </a>
    {% for type in types %}
    <a class="type-link" href="{{url_for('showType', type = type.name)}}">
      <div class="type-text">
        {{type.name}}
      </div>
    </a>
    {% endfor %}
  </sidebar>

  <!--Pokemon tiles-->
  <section class="tiles-area">
    {% for pokemon in pokemon_list %}
    <div class="tile">
      <a href="{{url_for('showPokemon', id = pokemon.id)}}">
        <div class="tile-inner">
          <img class="tile-image" src="{{pokemon.image}}" />
          <h3 class="tile-name">{{pokemon.name}}</h3>
        </div>
      </a>
    </div>
    {% endfor %}
  </section>
</main>
{% endblock %}